# add user local bin directory to path
if ! [[ "$PATH" =~ "$HOME/.local/bin:" ]]; then
  [[ -d "$HOME/.local/bin" ]] && export PATH="$HOME/.local/bin:$PATH"
fi

{{ if eq .chezmoi.osRelease.id "cachyos" }}
source /usr/share/cachyos-zsh-config/cachyos-config.zsh
{{ else }}
# oh-my-zsh configuration
export ZSH="$HOME/.oh-my-zsh"
ZSH_THEME="avit"
COMPLETION_WAITING_DOTS="true"
plugins=(
  ssh-agent
  git
  fzf
  extract
  nvm
  zsh-autosuggestions
  zsh-syntax-highlighting # must be last
  zsh-history-substring-search # must be after zsh-syntax-highlighting
)
source $ZSH/oh-my-zsh.sh
{{ end }}

# keybindings for history substring search
bindkey "$terminfo[kcuu1]" history-substring-search-up
bindkey "$terminfo[kcud1]" history-substring-search-down

# user environment variables
export PROMPT_COMMAND="history -a; $PROMPT_COMMAND" # append to history after each command (multiple shells will share history)
export EDITOR="nano"
export SCW_SECRET_TOKEN="{{ protonPass "pass://Work - DJND/scaleway api key/password" | trim }}"

# user aliases
alias ll="ls -lahF --group-directories-first" # to move dotfiles first and have case-insensitive sorting see this: https://unix.stackexchange.com/a/361006
alias dc="docker compose"
alias gurl="git remote -v | awk '\$3 == \"(fetch)\" {print \$2}' | sed -e 's/git\@github\.com\:/https\:\/\/github.com\//' -e 's/\.git$//'"
alias open="xdg-open"

# open code in current dir or open workspace file if it exists
function cod {
  WORKSPACEFILE=$(find . -maxdepth 1 -name "*.code-workspace" | head -n 1)
  if [ -z "$WORKSPACEFILE" ]; then
    code .
  else
    code "$WORKSPACEFILE"
  fi
}

# for pyenv
export PYENV_ROOT="$HOME/.pyenv"
[[ -d $PYENV_ROOT/bin ]] && export PATH="$PYENV_ROOT/bin:$PATH"
eval "$(pyenv init - zsh)"

# for virtualenvwrapper
VIRTUALENVWRAPPER_PYTHON=/usr/bin/python3
[ -s "/usr/local/bin/virtualenvwrapper.sh" ] && source /usr/local/bin/virtualenvwrapper.sh
